dist
dist-*
cabal-dev
*.cabal
*.so
*.so.*
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

*~
\#*\#

lib/bullet-hs/cbits/CmakeFiles/*
lib/bullet-hs/cbits/MakeFile
lib/bullet-hs/libcbullet.so.1.0