[submodule "lib/netwire-input-glfw"]
	path = lib/netwire-input-glfw
	url = https://github.com/Fizzixnerd/netwire-input-glfw
[submodule "lib/assimp-hs"]
	path = lib/assimp-hs
	url = https://github.com/Fizzixnerd/assimp-hs
