dist
dist-*
cabal-dev
*.cabal
*.so
*.so.*
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

*~
\#*\#

./lib/bullet-hs/cbits/CMakeFiles/
./lib/bullet-hs/cbits/CMakeCache.txt
./lib/bullet-hs/cbits/Makefile
./lib/bullet-hs/libcbullet.so*
./lib/bullet-hs/cmake_install.cmake
./lib/bullet-hs/install_manifest.txt

*TAGS